/* Your Code Here! */

/* imports fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* centers text w utility class, hence u- for name*/
.u-textCenter {
  text-align: center;
}

.u-flex {
  display: flex;
  flex-direction: row;
}

/* defining colors of nav bar */
/* the --var_name is how to declare css variables */
:root {
  --primary: #c739ff;
  --gray: #aeb4b4;
  --white: #ffffff;
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

.navTitle {
  color: var(--primary);
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}

.navContainer {
  background-color: var(--gray);
  padding: var(--s) var(--m); /* first s for top and bottom. m for left and right */
}

.avatarContainer {
  padding: 0 35%; /* auto will automatically center */
}

.avatar {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  padding-top: 100%;

  border-radius: 50%;
  background-image: url("australian-shepherd.jpeg");

  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;

  /* max-width: 50%;
    margin-left: auto;
    margin-right: auto; */
}

.subContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.line {
  border-color: var(--grey);
}

.subContainer + .subContainer {
  /*
     * subContainers...
     * https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_combinator
     */
  margin-left: var(--m);
}
